div
body{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;

}
div

li {
    font-size: 14px;
    font-style: italic;
}

div

ul
    {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }